<html>
<body>
Hello,
<br/>
#set ($map = $scanIssuesMap )
#if($map.isEmpty())
	<p> No Vulnerabilities found for this Scan Batch.</p>
#else
	<p> Below are the <b>new</b>  issues found for Scan Batch: ${scanBatchName} since the last run.</p>
	<table id="tableid" border="1" cellpadding="5">
		<thead>
			<tr bgcolor="#B6B6B4">
				<th id="testCaseName" rowspan=2>TestCase/Scan</th>
				<th id="issues" colspan=4>Issues</th>
			</tr>
			<tr bgcolor="#B6B6B4">
				<th id="issueId">Issue Id</th>
				<th id="severity">Priority</th>
				<th id="issueType">Vulnerability</th>
				<th id="testUrl">Test URL</th>
			</tr>
		</thead>
		<tbody>
		#foreach ($mapEntry in $map.entrySet())
			#foreach( $details in $mapEntry.value )
				<tr>
					<td headers="testCaseName">$mapEntry.key</td>
					<td id="td1" headers="issueId">
	    				<a href="$details.dastProxyBugUIIssueUrl" > $details.id</a>
	    			</td>
	    			#if($details.severity == "High")
	    			<td id="td1" headers="severity" bgcolor="#F75D59"> $details.severity</td>
	    			#end
	    			#if($details.severity == "Medium")
	    			<td id="td1" headers="severity" bgcolor="#FBB917"> $details.severity</td>
	    			#end
   		    		<td id="td1" headers="issueType"> $details.issueType</td>         
   		    		<td id="td1" headers="testUrl">$details.testUrl</td>
   				</tr>
			#end
		#end
		</tbody>
	</table><br/>
#end
<p><b>Note:</b> Please do not reply to this email.</p>
</body>
</html>